In [1]:
#import os
#os.chdir("Applied Data Science\project2\code")
#os.getcwd()

FileNotFoundError: [WinError 3] 系统找不到指定的路径。: 'Applied Data Science\\project2\\code'

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
#from scipy.stats import chi2_contingency

In [3]:
df = pd.read_feather('where.feather')
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,improvement_surcharge,total_amount,congestion_surcharge,duration,income,revenue,start_hour,day_of_week,date_hour,weather
0,1,2019-02-01 00:59:04,2019-02-01 01:07:27,1,2.1,1,N,48,234,1,...,0.3,12.3,0.0,8.383333,11.0,78.727634,0,Friday,01 00,remain
1,1,2019-02-01 00:33:09,2019-02-01 01:03:58,1,9.8,1,N,230,93,2,...,0.3,33.3,0.0,30.816667,32.0,62.303948,0,Friday,01 00,remain
2,1,2019-02-01 00:09:03,2019-02-01 00:09:16,1,0.0,1,N,145,145,2,...,0.3,3.8,0.0,0.216667,2.5,692.307692,0,Friday,01 00,remain
3,1,2019-02-01 00:45:38,2019-02-01 00:51:10,1,0.8,1,N,95,95,2,...,0.3,6.8,0.0,5.533333,5.5,59.638554,0,Friday,01 00,remain
4,1,2019-02-01 00:25:30,2019-02-01 00:28:14,1,0.8,1,N,140,263,2,...,0.3,6.3,0.0,2.733333,5.0,109.756098,0,Friday,01 00,remain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7019370,2,2019-02-28 23:29:08,2019-02-28 23:29:11,1,0.0,1,N,193,193,1,...,0.0,0.0,0.0,0.050000,0.0,0.000000,23,Thursday,28 23,remain
7019371,2,2019-02-28 22:48:47,2019-02-28 23:50:19,1,0.0,1,N,141,193,2,...,0.0,0.0,2.5,61.533333,0.0,0.000000,22,Thursday,28 22,remain
7019372,2,2019-02-28 23:41:23,2019-02-28 23:42:23,1,0.0,1,N,264,264,1,...,0.0,0.0,0.0,1.000000,0.0,0.000000,23,Thursday,28 23,remain
7019373,2,2019-02-28 23:12:52,2019-02-28 23:14:16,1,0.0,1,N,264,193,1,...,0.0,0.0,0.0,1.400000,0.0,0.000000,23,Thursday,28 23,remain
7019374,2,2019-02-28 23:10:35,2019-02-28 23:10:37,1,0.0,1,N,264,264,2,...,0.0,0.0,0.0,0.033333,0.0,0.000000,23,Thursday,28 23,remain

In [4]:
df = df.loc[(df['payment_type'] == 1) &  (df['passenger_count'] <= 4) & (df['passenger_count'] > 0)
            & (df['RatecodeID'] == 1)]
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,improvement_surcharge,total_amount,congestion_surcharge,duration,income,revenue,start_hour,day_of_week,date_hour,weather
0,1,2019-02-01 00:59:04,2019-02-01 01:07:27,1,2.10,1,N,48,234,1,...,0.3,12.30,0.0,8.383333,11.00,78.727634,0,Friday,01 00,remain
9,2,2019-01-31 23:16:28,2019-01-31 23:19:11,1,0.49,1,N,170,234,1,...,0.3,7.00,0.0,2.716667,5.70,125.889571,23,Thursday,31 23,None
10,2,2019-01-31 23:28:02,2019-01-31 23:36:34,1,1.61,1,N,107,161,1,...,0.3,11.62,0.0,8.533333,10.32,72.562500,23,Thursday,31 23,None
11,2,2019-01-31 23:55:34,2019-02-01 00:03:58,1,1.50,1,N,107,148,1,...,0.3,10.56,0.0,8.400000,9.26,66.142857,23,Thursday,31 23,None
12,1,2019-02-01 00:15:53,2019-02-01 00:25:41,2,1.80,1,N,68,246,1,...,0.3,12.35,0.0,9.800000,11.05,67.653061,0,Friday,01 00,remain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7019366,2,2019-02-28 23:11:03,2019-02-28 23:17:14,1,1.22,1,N,48,143,1,...,0.3,11.30,2.5,6.183333,7.50,72.776280,23,Thursday,28 23,remain
7019367,2,2019-02-28 23:18:52,2019-02-28 23:29:29,2,1.75,1,N,48,162,1,...,0.3,14.14,2.5,10.616667,10.34,58.436421,23,Thursday,28 23,remain
7019370,2,2019-02-28 23:29:08,2019-02-28 23:29:11,1,0.00,1,N,193,193,1,...,0.0,0.00,0.0,0.050000,0.00,0.000000,23,Thursday,28 23,remain
7019372,2,2019-02-28 23:41:23,2019-02-28 23:42:23,1,0.00,1,N,264,264,1,...,0.0,0.00,0.0,1.000000,0.00,0.000000,23,Thursday,28 23,remain
7019373,2,2019-02-28 23:12:52,2019-02-28 23:14:16,1,0.00,1,N,264,193,1,...,0.0,0.00,0.0,1.400000,0.00,0.000000,23,Thursday,28 23,remain

In [5]:
df = df.loc[(df["duration"] >= 0.25) &  (df["fare_amount"] > 0) & (df["extra"] >= 0) & (df["mta_tax"] == 0.5)
            & (df["tip_amount"] >= 0) & (df["tip_amount"] <=20) & (df["tolls_amount"] >=0)
            & (df["total_amount"]>0) & (df["income"] > 0)  & (df["improvement_surcharge"] == 0.3)
            &(df["trip_distance"] >= 0.01) & (df["PULocationID"] <= 263) & (df["DOLocationID"] <= 263)
            & (df["congestion_surcharge"] >=0)]
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,improvement_surcharge,total_amount,congestion_surcharge,duration,income,revenue,start_hour,day_of_week,date_hour,weather
0,1,2019-02-01 00:59:04,2019-02-01 01:07:27,1,2.10,1,N,48,234,1,...,0.3,12.30,0.0,8.383333,11.00,78.727634,0,Friday,01 00,remain
9,2,2019-01-31 23:16:28,2019-01-31 23:19:11,1,0.49,1,N,170,234,1,...,0.3,7.00,0.0,2.716667,5.70,125.889571,23,Thursday,31 23,None
10,2,2019-01-31 23:28:02,2019-01-31 23:36:34,1,1.61,1,N,107,161,1,...,0.3,11.62,0.0,8.533333,10.32,72.562500,23,Thursday,31 23,None
11,2,2019-01-31 23:55:34,2019-02-01 00:03:58,1,1.50,1,N,107,148,1,...,0.3,10.56,0.0,8.400000,9.26,66.142857,23,Thursday,31 23,None
12,1,2019-02-01 00:15:53,2019-02-01 00:25:41,2,1.80,1,N,68,246,1,...,0.3,12.35,0.0,9.800000,11.05,67.653061,0,Friday,01 00,remain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7019363,1,2019-02-28 23:51:03,2019-03-01 00:11:03,1,7.90,1,N,138,233,1,...,0.3,43.61,2.5,20.000000,34.05,102.150000,23,Thursday,28 23,remain
7019364,2,2019-02-28 23:29:14,2019-02-28 23:45:11,1,2.86,1,N,68,140,1,...,0.3,21.00,2.5,15.950000,17.20,64.702194,23,Thursday,28 23,remain
7019365,2,2019-02-28 23:50:34,2019-03-01 00:08:54,3,3.20,1,N,163,144,1,...,0.3,21.96,2.5,18.333333,18.16,59.432727,23,Thursday,28 23,remain
7019366,2,2019-02-28 23:11:03,2019-02-28 23:17:14,1,1.22,1,N,48,143,1,...,0.3,11.30,2.5,6.183333,7.50,72.776280,23,Thursday,28 23,remain
7019367,2,2019-02-28 23:18:52,2019-02-28 23:29:29,2,1.75,1,N,48,162,1,...,0.3,14.14,2.5,10.616667,10.34,58.436421,23,Thursday,28 23,remain